<div class="container">
    <div class="row">
        <div id="logo">
            <img src="imgs/logo.png" class="img-cadastro" alt="logo">
        </div>
    </div>

    <div class="row">
        <form id="areacadastro" action="/add" method="POST">
            <div class="form-group">
                <input type="text" name="titulo" class="form-titulo" id="InputTitulo" placeholder="titulo do Texto">
            </div>
            <div class="form-group">
                <textarea id="subject" name="conteudo" placeholder="Escreva Aqui"></textarea>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="button" class="btn btn-second" <a target="_blank"
                        href='http://localhost:3333/index'>Cancelar</button>
                    <button type="submit" class="btn btn-thirt">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>